body {
  margin: 0;
}

/*Задает тип и размер хедера и футера*/
.main-size {
  width: 100vmax;
}
/*Задает границы ширины хедера и футера*/
.block-size {
  max-width: 78.5vmax;
}
.middle-block-size {
  max-width: 80.5vmax;
}
.menu-size {
  max-width: 19.5vmax;
}
.article__width {
  width: 61vmax;
}
.aboutme_width {
  max-width: 32.5vmax;
}

.main-footer {
  height: 8vmin;
  background: #414141;
}
.main-header {
  height: 12.8vmin;
  background: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0.1vh 0.3vh 0px rgba(0, 0, 0, 0.2);
}
/*Настройка аватара*/
.top__avatar {
  border-width: 0.2vmin;
  border-color: rgb(215, 215, 215);
  border-style: solid;
  border-style: solid;
  border-width: 0.2vmin;
  border-color: rgb(190, 190, 190);
  border-radius: 50%;
  background-color: rgb(246, 246, 246);
  height: 10vmin;
  width: 10vmin;
}
/*Фотография в статье*/
.article__avatar {
  margin: 2.1vmax 4.65vmax 2vmax 4.35vmax;
  height: 18.5vmax;
  width: 18.5vmax;
  overflow: hidden;
  border-style: solid;
  border-width: 0.3vmax;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(246, 246, 246);
}
.pos__rel {
  position: relative;
}
/*Изчезающий блок с контактами*/
.my__contacts__block {
  margin: 7vmax 0 0 -2.5vmax;
  position: absolute;
  width: 15vmax;
  font-family: "Fira Sans Regular";
  color: rgb(65, 65, 65);
  border-style: solid;
  border-radius: 1vmax;
  border-width: 0.05vmax;
  border-color: rgb(222, 222, 222);
  background-color: rgb(255, 255, 255);
  visibility: hidden;
}
.triangle {
  position: absolute;
  margin: -0.8vmax 6.95vmax 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.5vmax 0.8vmax 0.5vmax;
  border-color: transparent transparent rgb(222, 222, 222) transparent;
}
.triangle-2 {
  position: absolute;
  margin: -0.7vmax 6.95vmax 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.5vmax 0.8vmax 0.5vmax;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.my__contacts__block i {
  color: rgb(50, 195, 229);
}

/*Настройка шрифта имени в верхнем блоке*/
.header-name-font {
  font-size: 1.45vmax;
  font-family: "Open Sans Regular";
  color: rgb(65, 65, 65);
  margin: 0 0 0 1.5vmax;
  text-shadow: 0.05vmax 0.05vmax 0.05vmax rgba(0, 0, 0, 0.3);
}
.my__contacts {
  margin: 0;
  line-height: 1.8vmax;
  font-size: 1.47vmax;
  font-family: "Fira Sans Bold";
  color: rgb(50, 195, 229);
  text-decoration: none;
  outline: none;
}
.dots {
  letter-spacing: 0.19vmax;
  margin: 0;
  line-height: 0;
  font-size: 0.8vmax;
  font-family: "Fira Sans Bold";
  color: rgb(50, 195, 229);
}
.on-over {
  cursor: pointer;
}
.on-over:hover p {
  color: #e85f61;
}
.on-over:hover + .my__contacts__block {
  visibility: visible;
}
.my__contacts__el {
  margin: 1.1vmax;
  font-size: 1.25vmax;
}
/* Стилизация меню */
.menu-list {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  font-family: "Fira Sans Regular";
  list-style: none;
  padding: 2.5vmax 0.5vmax;
  margin: 0;
}
.menu-list li {
  padding: 1vmin 1.8vmax 1vmin 2.2vmax;
  margin-bottom: 1.2vmin;
  transition: 0.15s border linear;
  border-right: 0.5vmax solid rgb(246, 246, 246);
}
/*.menu-list li:hover {
  border-right: 0.5vmax solid rgb(50, 195, 229);
}*/
.menu-list li:hover>a {
  color: rgb(50, 195, 229);
}
.menu-list li:active {
  font-weight: bold;
  border-right: 0.5vmax solid rgb(50, 195, 229);
}
.menu-list li a {
  line-height: 2vmax;
  font-size: 1.47vmax;
  color: #414141;
  text-decoration: none;
  outline: none;
}
.footer-font{
  font-size: 1vmax;
  font-family: "Fira Sans Regular";
  color: #727272;
}
.icon-margin {
  margin-right: 0.8vmax;
}
.main {
  height: 80vmin;
}
.aboutme_headline {
  font-size: 2.9vmax;
  font-weight: 500;
  font-family: "Fira Sans Medium";
  margin: 2vmax 0 1.5vmax;
}
.aboutme__text {
  margin: 0 0.3vmax 0 0;
  font-size: 1.55vmax;
  line-height: 2vmax;
  font-family: "Fira Sans Regular";
  color: rgb(120, 120, 120);
}
.aboutme__textblock {
  height: 46.5vmin;
  overflow-y: scroll;
  margin-bottom: 5vmin;
}
.social-buttons {
  text-decoration: none;
  outline: none;
}
.to-go {
  margin-left: 0.5vmax;
  height: 5.2vmin;
  width: 5.2vmin;
}

.download__button {
  text-decoration: none;
  outline: none;
  text-align: center;
  font-size: 1.1vmax;
  font-family: "Open Sans Bold";
  color: #e85f61;
  line-height: 2.7vmax;
  height: 2.8vmax;
  width: 14vmax;
  margin: 0 1vmax 0 0;
  display: inline-block;
  border-radius: 2vmax;
  border-width: 0.18vmax;
  border-color: #e85f61;
  border-style: solid;
}
.download__button:hover {
  background: #e85f61;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}
/*Скролл*/
#scroll__style::-webkit-scrollbar-track
{
	background-color: #f6f6f6;
  border-radius: 3.5vmin;
}

#scroll__style::-webkit-scrollbar
{
	width: 0.4vmax;
	background-color: #f6f6f6;
}

#scroll__style::-webkit-scrollbar-thumb
{
	background-color: rgb(216, 216, 216);
	border-radius: 3.5vmin;
}
