body {
  margin: 0;
}

/*Задает тип и размер хедера и футера*/
.main-size {
  width: 100vmax;
}
/*Задает границы ширины хедера и футера*/
.block-size {
  max-width: 78vmax;
}
.menu-size {
  max-width: 20vmax;
}
.article__width {
  width: 58vmax;
}
.aboutme_width {
  max-width: 40vmax;
}
.main-footer {
  height: 8vmin;
  background: #414141;
}
.main-header {
  height: 14vmin;
  background: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0.1vh 0.3vh 0px rgba(0, 0, 0, 0.2);
}
/*Настройка аватара*/
.top__avatar {
  border-width: 0.15vmin;
  border-color: rgb(215, 215, 215);
  border-style: solid;
  border-style: solid;
  border-width: 0.15vmin;
  border-color: rgb(190, 190, 190);
  border-radius: 50%;
  background-color: rgb(246, 246, 246);
  height: 9vmin;
  width: 9vmin;
}
.article__avatar {
  margin: 2vmax;
  height: 15vmax;
  width: 15vmax;
  overflow: hidden;
  border-style: solid;
  border-width: 0.3vmax;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
  background-color: rgb(246, 246, 246);
}

/*Настройка шрифта имени в верхнем блоке*/
.main-name-font {
  font-size: 1.65vmax;
  font-family: "Open Sans";
  color: rgb(65, 65, 65);
  margin: 0 0 0 1.5vmax;
  text-shadow: 0.05vmax 0.05vmax 0.05vmax rgba(0, 0, 0, 0.3);
}
.main-contacts-font {
  margin: 0;
  line-height: 2vmax;
  font-size: 1.65vmax;
  font-family: "Fira Sans";
  color: rgb(50, 195, 229);
  font-weight: bold;
}
.dots {
  letter-spacing: 0.19vmax;
  margin: 0;
  line-height: 0;
  font-size: 1vmax;
  font-family: "Fira Sans";
  color: rgb(50, 195, 229);
  font-weight: bold;
}
.footer-font{
  font-size: 1vmax;
  font-family: "Fira Sans";
  color: #727272;
}
.icon-margin {
  margin-right: 1vmax;
}
.main {
  height: 80vmin;
}
.lorem-font {
  font-size: 1.35vmax;
  font-family: "Open Sans";
  color: rgb(65, 65, 65);
  text-shadow: 0.05vmax 0.05vmax 0.05vmax rgba(0, 0, 0, 0.3);
}
/* Стилизация меню */
.menu-list {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  font-family: "Fira Sans";
  list-style: none;
  padding: 0.5vmax;
  margin: 0;
}
.menu-list li {
  padding: 1vmin 1vmax;
  margin-bottom: 1vmin;
  transition: 0.15s border linear;
  border-right: 0.3vmax solid rgb(246, 246, 246);
}
.menu-list li:hover {
  border-right: 0.3vmax solid rgb(50, 195, 229);
}
.menu-list li:hover>a {
  color: rgb(50, 195, 229);
}
.menu-list li:active {
  font-weight: bold;
}
.menu-list li a {
  line-height: 2vmax;
  font-size: 1.35vmax;
  color: #414141;
  text-decoration: none;
  outline: none;
}
.social-buttons {
  text-decoration: none;
  outline: none;
}
.to-go {
  height: 5vmin;
  width: 5vmin;
}

.download__button {
  text-decoration: none;
  outline: none;
  text-align: center;
  font-size: 1.05vmax;
  font-family: "Open Sans";
  color: #e85f61;
  font-weight: bold;
  line-height: 2.7vmax;
  height: 2.6vmax;
  width: 15vmax;
  display: inline-block;
  border-radius: 2vmax;
  border-width: 0.18vmax;
  border-color: #e85f61;
  border-style: solid;
}
.download__button:hover {
  background: #e85f61;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}
