html {
  background-color: rgb(246, 246, 246);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}
body {
  margin: 0;
}

/*Преобразование блоков в строчные флексы*/
.to-the-flexbox {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
/*Преобразование блоков в флексы-колонки*/
.to-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}
/*Задает тип и размер хедера и футера*/
.main-size {
  width: 100vmax;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/*Задает границы ширины хедера и футера*/
.column-size {
  max-width: 78vmax;
}
.menu {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  max-width: 30vmax;
}
.content {
  max-width: 48vmax;
}
.main {
  height: 80vmin;
}

.leftside {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.main-footer {
  height: 9vmin;
  background: #727272;
}
.main-header {
  height: 11vmin;
  background: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0.1vh 0.3vh 0px rgba(0, 0, 0, 0.2);
}
/*Настройка аватара*/
.main__avatar {
  border-width: 0.15vmin;
  border-color: rgb(215, 215, 215);
  border-style: solid;
  border-style: solid;
  border-width: 0.15vmin;
  border-color: rgb(190, 190, 190);
  border-radius: 50%;
  background-color: rgb(246, 246, 246);
  height: 9vmin;
  width: 9vmin;
}
/*Настройка шрифта имени в верхнем блоке*/
.main-name-font {
  font-size: 1.65vmax;
  font-family: "Open Sans";
  color: rgb(65, 65, 65);
  margin: 0 0 0 1.5vmax;
  text-shadow: 0.05vmax 0.05vmax 0.05vmax rgba(0, 0, 0, 0.3);
}
.main-contacts-font {
  margin: 2.8vmax 0 0 0;
  line-height: 1vmax;
  font-size: 1.65vmax;
  font-family: "Fira Sans";
  color: rgb(50, 195, 229);
  font-weight: bold;
}
.dots {
  letter-spacing: 0.2vmax;
  margin: 0;
  line-height: 0;
  font-size: 1vmax;
  font-family: "Fira Sans";
  color: rgb(50, 195, 229);
}
