html {
  background-color: rgb(246, 246, 246);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
}

.hello-box-top {
  background: rgb(255, 255, 255);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  border-radius: 1.5vh 1.5vh 0 0;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center; /*Выравнивание элементов по центру поперечной оси*/
  box-shadow: 0px 0.1vh 0.2vh 0px rgba(0, 0, 0, 0.3);
  width: 22.5vmax;
  height: 11.6vmax;
}

.hello-box-bottom {
  background: #33c1e3;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  border-radius: 0 0 1.5vh 1.5vh;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  box-shadow: 0px 0.1vh 0.2vh 0px rgba(0, 0, 0, 0.3);
  width: 22.5vmax;
  height: 5.9vmax;
}

.hello-box-name {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 0 0 0;
}

.hello-font {
  font-size: 1.65vmax;
  font-family: "Open Sans";
  color: rgb(65, 65, 65);
  line-height: 0;
  text-shadow: 0.05vmax 0.05vmax 0.05vmax rgba(0, 0, 0, 0.3);
  /*line-height: 1.333*/
  margin: 2vmax 0 0 0;
}

.avatar {
  border-width: 0.08vmax;
  border-color: rgb(215, 215, 215);
  border-style: solid;
  border-style: solid;
  border-width: 0.08vmax;
  border-color: rgb(190, 190, 190);
  border-radius: 50%;
  background-color: rgb(246, 246, 246);
  height: 10.5vmax;
  width: 10.5vmax;
  margin: -5.3vmax 0 0 0;
  z-index: 1;
}

/*.bg {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 450px;
  top: 220px;
  width: 300px;
  height: 232px;
  z-index: 4;
}*/
/*.Анатолий_Анатольев {
  font-size: 21px;
  font-family: "Open Sans";
  color: rgb(65, 65, 65);
  line-height: 1.333;
  text-align: center;
  position: absolute;
  left: 543px;
  top: 331.508px;
  z-index: 11;
}*/
/*.Перейти_на_сайт {
  font-size: 14px;
  font-family: "Fira Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2;
  text-align: center;
  position: absolute;
  left: 545.093px;
  top: 425.376px;
  z-index: 9;
}*/
/*.pic {
  border-width: 1px;
  border-color: rgb(215, 215, 215);
  border-style: solid;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(190, 190, 190);
  border-radius: 50%;
  background-color: rgb(246, 246, 246);
  position: absolute;
  left: 527px;
  top: 147px;
  width: 144px;
  height: 144px;
  z-index: 12;
}*/
